{% extends 'main/base.html' %}
{% load bold_in_quotes %}
{% load cache %}
{% load static %}

{% block title %}
Внутренний рынок :: Справочники :: Конкуренты
{% endblock title %}

{% block js-before %}
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
<style>
/* Стиль вкладки */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 100%;
  padding: 10px;
}

/* Стиль кнопок, используемых для открытия содержимого вкладки */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 3px 12px;
  transition: 0.3s;
}

/* Изменить цвет фона кнопок при наведении */
.tab button:hover {
  background-color: #ddd;
}

/* Создать активный / текущий класс tablink */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;

  border-top: none;
}

.tabcontent {
  animation: fadeEffect 0.5s; /* Эффект затухания занимает 1 секунду */
}

/* Перейти от нуля к полной непрозрачности */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

td, th  !important{
    padding: .0rem;
    vertical-align: middle;

}
</style>
{% endblock js-before %}
{% block period_button %}
<a class="btn btn-light" target=_blank href="https://customs-invecta.com.ua/ukt-ved/"><u>Коды УКТВЭД Украины 2020: поиск и расшифровка кода УКТЗЕД</u></a>
{% endblock period_button %}
{% block content %}
{% comment %} {% cache 1 InnerCompetitorsCatalog competitors.query %} {% endcomment %}






<div class="row mt-3 ml-3 mr-3" >

    <div class="tab">
    <button class="tablinks" onclick="openCity(event, 'HORECA')" id="defaultOpen">HORECA</button>
    <button class="tablinks" onclick="openCity(event, 'PACK')">УПАКОВКА</button>
    <button class="tablinks" onclick="openCity(event, 'FOOD')">ФАСТ-ФУД</button>
    <button class="tablinks" onclick="openCity(event, 'OTHER')">ДРУГОЕ</button>
    <input style="margin-top: 10px; margin-left: 20px;" id="myInput" type="text" placeholder="Поиск..">

    <!-- Содержимое вкладки -->
    <div id="HORECA" class="tabcontent">
        <div class="table-responsive-lg">
				<table class="table table-hover table-secondary table-bordered table-striped">
				<thead>
					<tr class="table-secondary">
          <th>№</th>
					<th width="5%">ЕДРПОУ</th>
					<th width="8%">Наименование</th>
          <th width="8%">Доступные периоды</th>
          <th width="8%">{{year}}</th>
          <th width="8%">Топ продаж</th>
          <th width="5%">Импортер</th>
					</tr>
				</thead>
				<tbody id="myTable" >
						{% for firm in competitors %}
                            {% if firm.seller__class_field__name in 'HORECA' %}
                                <tr>
                                    <td></td>
                                    <td  width="10%" class="py-0 align-middle" ><a class="btn btn-secondary font-weight-bold" href="{% url 'inner:SalesIndividualFirmShow' firm.seller__edrpou %}?year={{ year }}">{{ firm.seller__edrpou | cut:' ' }}</a></td>
                                    <td  width="70%" class="py-0 align-middle" >{% autoescape off %} {{ firm.seller__name|bold_in_quotes }} {% endautoescape %}</td>
                                    <td> 
                                    <a href="#" title="{% for fp in firm.periods %}{{fp}}&#13;{% endfor %}"> <img src="{% static 'periods.png' %}"></a>
                                    </td>
                                    <td>
                                    {% if firm.curr_year_data %}&#10004;{% else %} &nbsp;{% endif %}
                                    </td>
                                    <td  width="10%" class="py-0 align-middle" ><a class="btn btn-warning btn-sm" style="margin:auto;" href="{% url 'inner:topSalesFirmShow' firm.seller__edrpou %}?year={{ year }}"><img src="{% static 'top100.png' %}"></a></td>
                                    <td  width="10%" class="py-0 align-middle" >{% if firm.is_importer %}&#9989;{% else %} &nbsp;{% endif %}</td>
                                </tr>
                            {% endif %}
						{% endfor %}
				</tbody>
				</table>
		</div>
    </div>

    <div id="PACK" class="tabcontent">
       <div class="table-responsive-lg">
				<table class="table table-hover table-secondary table-bordered table-striped">
				<thead>
					<tr class="table-secondary">
          <th>№</th>
					<th width="5%">ЕДРПОУ</th>
					<th width="8%">Наименование</th>
          <th width="5%">Импортер</th>
					</tr>
				</thead>
				<tbody id="myTable">
						{% for firm in competitors %}
                            {% if firm.seller__class_field__name in 'PACK' %}
                                <tr>
                                    <td></td>
                                    <td width="10%" class="py-0"><a class="btn btn-secondary font-weight-bold" href="{% url 'inner:SalesIndividualFirmShow' firm.seller__edrpou %}?year={{ year }}">{{ firm.seller__edrpou | cut:' ' }}</a></td>
                                    <td width="80%" class="py-0">{% autoescape off %} {{ firm.seller__name|bold_in_quotes }} {% endautoescape %}</td>
                                    <td width="80%" class="py-0">{% if firm.is_importer %}&#9989;{% else %} &nbsp;{% endif %}</td>
                                </tr>
                            {% endif %}

						{% endfor %}
				</tbody>
				</table>
		</div>

    </div>

    <div id="FOOD" class="tabcontent">
       <div class="table-responsive-lg">
				<table class="table table-hover table-secondary table-bordered table-striped">
				<thead>
					<tr class="table-secondary">
          <th>№</th>
					<th width="5%">ЕДРПОУ</th>
					<th width="8%">Наименование</th>
          <th width="5%">Импортер</th>
					</tr>
				</thead>
				<tbody id="myTable">
						{% for firm in competitors %}
                            {% if firm.seller__class_field__name in 'FOOD' %}
                                <tr>
                                    <td></td>
                                    <td width="10%" class="py-0"><a class="btn btn-secondary font-weight-bold" href="{% url 'inner:SalesIndividualFirmShow' firm.seller__edrpou %}?year={{ year }}">{{ firm.seller__edrpou | cut:' ' }}</a></td>
                                    <td width="80%" class="py-0">{% autoescape off %} {{ firm.seller__name|bold_in_quotes }} {% endautoescape %}</td>
                                    <td width="80%" class="py-0">{% if firm.is_importer %}&#9989;{% else %} &nbsp;{% endif %}</td>
                                </tr>
                            {% endif %}

						{% endfor %}
				</tbody>
				</table>
		</div>

    </div>

    <div id="OTHER" class="tabcontent">
       <div class="table-responsive-lg">
				<table class="table table-hover table-secondary table-bordered table-striped">
				<thead>
					<tr class="table-secondary">
          <th>№</th>
					<th width="5%">ЕДРПОУ</th>
					<th width="8%">Наименование</th>
          <th width="5%">Импортер</th>
					</tr>
				</thead>
				<tbody id="myTable">
						{% for firm in competitors %}
                            {% if firm.seller__class_field__name in 'OTHER' %}
                                <tr>
                                    <td></td>
                                    <td width="10%" class="py-0"><a class="btn btn-secondary font-weight-bold" href="{% url 'inner:SalesIndividualFirmShow' firm.seller__edrpou %}?year={{ year }}">{{ firm.seller__edrpou | cut:' ' }}</a></td>
                                    <td width="80%" class="py-0">{% autoescape off %} {{ firm.seller__name|bold_in_quotes }} {% endautoescape %}</td>
                                    <td width="80%" class="py-0">{% if firm.is_importer %}&#9989;{% else %} &nbsp;{% endif %}</td>
                                </tr>
                            {% endif %}

						{% endfor %}
				</tbody>
				</table>
		</div>

    </div>

    </div>


</div>


{% comment %} {% endcache %} {% endcomment %}
{% endblock content %}
{% block js %}

<script>
$('.table tbody tr').each(function(i) {
var number = i + 1;
$(this).find('td:first').text(number);
});

function openCity(evt, cityName) {
  // Объявить все переменные
  var i, tabcontent, tablinks;

  // Получить все элементы с class="tabcontent" и скрыть их
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Получить все элементы с class="tablinks" и удалить class "active"
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }

  // Показать текущую вкладку и добавить "active" класс для кнопки, открывшей вкладку
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();

</script>
{% endblock js %}
