{% extends 'main/base.html' %}

{% load bold_in_quotes %}
{% load static %}
{% load cache %}

{% block title %}
    Закупки :: Индивидуальный анализ ({{ edrpou_num| cut:' ' }})
{% endblock title %}

{% block js-before %}
<link rel="stylesheet" href="{% static 'css/stycky-table.css' %}">

{% endblock js-before %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol  class="breadcrumb bg-transparent">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Внутренний рынок</a></li>
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Закупки</a></li>
            <li class="breadcrumb-item active" aria-current="page">Индивидульный анализ ({{ edrpou_num| cut:' ' }}) - {{ buyer_name }}</li>
        </ol>
   </nav> 
{% endblock breadcrumb %}

{% block period_button %}

{% endblock period_button %}

{% block DatePeriod %}
    <form method="get" class="form-inline" action={% url 'inner:PurchasesIndividualFirmShow' edrpou_num|cut:' ' %}>
        {{ YearSelectForm }}
        <button type="submit" class="btn btn-info">Изменить</button>
    </form>
{% endblock DatePeriod %}

{% block content %}

<table class="table table-stiped table-hover table-bordered" id="table" data-show-columns="true">
    <thead class="thead table-active sticky-header">
        <tr>
			<th class="py-0" colspan="3"><center>Продавцы</center></th><th class="py-0"  colspan="13"><center>Период анализа / Суммы в {{ currency }} с НДС</center></th>
	    </tr>
        <tr>
            <th class="header py-0">#</th>
            <th class="header py-0">ЕДРПОУ</th>
            <th class="header py-0">ИМЯ</th>
            {% for m in mnth_list %}
                <th class="header py-0"> {{m}} </th>
            {% endfor %}
            <th class="header py-0">{{ year }} </th>
        </tr>
        <tr >
            <th  class="py-0" colspan=3>
                <center>Наличие данных по периодам/Сумма за год</center>
            </th>
                {% for key,value in period_dates.items %}
                    <th  class="py-0"> 
                    {% if value %}
                        <span style="cursor: help" data-toggle="tooltip" data-placement="top" title="{{ value }}">✔</span>
                    {% else %}
                        <span style="cursor: help" data-toggle="tooltip" data-placement="top" title="{{ value }}">🚫</span>
                    {% endif %}
                    </th>
                {% endfor %}
            
            <th class="py-0" > {{t_sum|floatformat:'0'}} </th>
            </th>
        </tr>
    </thead>
    <tbody>

            {% for f in sellers_list %}
            <tr  style="background-color:{% cycle '#d4d4d4' '#e9e9e9' %}">
                <td class="py-0 text-right" scope="row">{{ forloop.counter0|add:sellers_list.start_index }}</td>
                <td class="py-0 text-right"><a class="btn btn-primary btn-sm font-weight-bold" href="{% url 'inner:PurchasesIndividualFirmRaw' edrpou_num|cut:' '  f.seller__edrpou|cut:' ' %}?selected_year={{year}}">{{ f.seller__edrpou|cut:' ' }}</a></td>
                <td class="py-0 text-left">
                {% if f.seller__edrpou == 0 %}
                    Иностранные предприятия/неплательщики                
                {% else %}
                    {% autoescape off %}{{ f.seller__name|bold_in_quotes }}{% endautoescape %}
                {% endif %}
                
                </td>
                {% for s in f.pms %}
                    {% if s %}
                        <td class="py-0"> <a class="btn btn-light btn-sm border-secondary" style="min-width: 60px;" href="{% url 'inner:PurchasesIndividualFirmRaw' edrpou_num|cut:' '  f.seller__edrpou|cut:' ' %}?month={{ forloop.counter }}&selected_year={{ year }}">{{ s | floatformat:'0' }} </a></td>
                    {% else%}
                        <td  class="py-0"> <span class="text-muted">-</td>
                    {% endif %}

                {% endfor %}

                <td class="py-0"><a class="btn btn-light btn-sm font-weight-bold border-secondary" href="{% url 'inner:PurchasesIndividualFirmRaw' edrpou_num|cut:' '  f.seller__edrpou|cut:' ' %}?selected_year={{year}}">{{ f.sum |floatformat:0 }}</a></td>
            </tr>
            {% endfor %}
        
    </tbody>
</table>

<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if sellers_list.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1&selected_year={{year}}">&laquo;</a>
            </li>
             <li class="page-item">
                <a class="page-link" href="?page={{ sellers_list.previous_page_number }}&selected_year={{year}}"> < </a>
            </li>
        {% endif %}

        <li class="page-item">
            <a class="page-link disabled" href="#"> Page {{ sellers_list.number }} of {{ sellers_list.paginator.num_pages }}</a>
        </li>

        {% if sellers_list.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ sellers_list.next_page_number }}&selected_year={{year}}"> > </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ sellers_list.paginator.num_pages }}&selected_year={{year}}"> &raquo; </a>
            </li>
        {% endif %}
    </ul>
 </nav>  


{% endblock content %}


{% block js %}
{% endblock js %}