{% extends 'main/base.html' %}

{% load bold_in_quotes %}
{% load index %}
{% load static %}
{% load cache %}
{% load nbsp_remove %}


{% block title %}
    Анализ клиентов конкурентов :: RFM анализ ({{ edrpou_num| cut:' ' }})
{% endblock title %}

{% block js-before %}
<link rel="stylesheet" href="{% static 'css/rfm-table.css' %}">
<link rel="stylesheet" href="{% static 'css/sortable.min.css' %}">
{% endblock js-before %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Внутренний рынок</a></li>
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Анализ клиентов конкурентов</a></li>
            <li class="breadcrumb-item active" aria-current="page"><b>RFM анализ</b>  ({{ edrpou_num| cut:' ' }}) - <b> {{ seller_name }}</b></li>
        </ol>
   </nav> 
{% endblock breadcrumb %}

{% block period_button %}

{% endblock period_button %}

{% block DatePeriod %}

{% endblock DatePeriod %}

{% block content %}
<div class="px-5 mx-5">
<table class="table table-stiped table-hover table-bordered sortable" id="table" data-show-columns="true">
    <thead class="thead table-active sticky-header">
        <tr class="py-0">
            <th class="py-0 text-left header">
                #
            </th>
			<th class="py-0 text-left header">
                Имя организации
            </th>
			<th class="py-0 text-center header">
                Recency
            </th>
			<th class="py-0 text-center header">
                Frequency
            </th>
			<th class="py-0 text-center header">
                Monetary value (UAH)
            </th>
			<th class="py-0 text-center header">
                R Quartile
            </th>
			<th class="py-0 text-center header">
                F Quartile
            </th>
			<th class="py-0 text-center header">
                M Quartile
            </th>
			<th class="py-0 text-center header">
                RFMClass
            </th>
	    </tr>
    </thead>
    <tbody>
        {% for buyer in rfm %}
        <tr>
            <td class="py-0 align-left">
                <b>{{ forloop.counter }}</b>
            </td>    
            <td class="py-0 align-left">
                <a  class="my-1 font-weight-bold" style="color:black" href="{% url 'inner:ClientsCompetitorsIndividualSearch'%}?search_string={{buyer.buyer_name|urlencode}}">{% autoescape off %}{{buyer.buyer_name|bold_in_quotes}}{% endautoescape%}</a>
            </td>    
            <td class="py-0 text-right">
                {{buyer.R_recency}}
            </td>    
            <td class="py-0 text-right">
                {{buyer.F_frequency}}
            </td>    
            <td class="py-0 text-right">
                {{buyer.M_monetary_value|striptags|safe|nbsp_remove}}

            </td>    
            <td class="py-0 text-center">
                {{buyer.R_Quartile}}
            </td>  
            <td class="py-0 text-center">
                {{buyer.F_Quartile}}
            </td>  
            <td class="py-0 text-center">
                {{buyer.M_Quartile}}
            </td>  
            <td class="py-0 text-center">
                {{buyer.RFMClass}}
            </td>  
        </tr>
        {% endfor %}

    </tbody>
</table>
</div>



{% endblock content %}


{% block js %}


<script src="{% static 'js/sortable.min.js' %}"></script>


{% endblock js %}