{% extends 'main/base.html' %}

{% load bold_in_quotes %}
{% load index %}
{% load static %}
{% load cache %}

{% block title %}
    Анализ клиентов конкурентов :: RFM анализ ({{ edrpou_num| cut:' ' }})
{% endblock title %}

{% block js-before %}
<link rel="stylesheet" href="{% static 'css/stycky-table.css' %}">
{% endblock js-before %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Внутренний рынок</a></li>
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Анализ клиентов конкурентов</a></li>
            <li class="breadcrumb-item active" aria-current="page">RFM анализ ({{ edrpou_num| cut:' ' }}) - {{ seller_name }}</li>
        </ol>
   </nav> 
{% endblock breadcrumb %}

{% block period_button %}

{% endblock period_button %}

{% block DatePeriod %}

{% endblock DatePeriod %}

{% block content %}

<table class="table table-stiped table-hover table-bordered" id="table" data-show-columns="true">
    <thead class="thead table-active sticky-header">
        <tr class="py-0">
			<th>
                Имя организации
            </th>
			<th>
                Recency
            </th>
			<th>
                Frequency
            </th>
			<th>
                Monetary value
            </th>
			<th>
                R Quartile
            </th>
			<th>
                F Quartile
            </th>
			<th>
                M Quartile
            </th>
			<th>
                RFMClass
            </th>
	    </tr>
    </thead>
    <tbody>
        {% for buyer in rfm %}
        <tr>
            <td>
                {{buyer.buyer_name}}
            </td>    
            <td>
                {{buyer.R_recency}}
            </td>    
            <td>
                {{buyer.F_frequency}}
            </td>    
            <td>
                {{buyer.M_monetary_value|floatformat:'0'}}
            </td>    
            <td>
                {{buyer.R_Quartile}}
            </td>  
            <td>
                {{buyer.F_Quartile}}
            </td>  
            <td>
                {{buyer.M_Quartile}}
            </td>  
            <td>
                {{buyer.RFMClass}}
            </td>  
        </tr>
        {% endfor %}

    </tbody>
</table>



{% endblock content %}


{% block js %}

{% endblock js %}