{% extends 'main/base.html' %}

{% load bold_in_quotes %}
{% load index %}
{% load static %}
{% load cache %}

{% block title %}
    Анализ клиентов конкурентов :: RFM анализ ({{ edrpou_num| cut:' ' }})
{% endblock title %}

{% block js-before %}
<link rel="stylesheet" href="{% static 'css/stycky-table.css' %}">
{% endblock js-before %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Внутренний рынок</a></li>
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Анализ клиентов конкурентов</a></li>
            <li class="breadcrumb-item active" aria-current="page">RFM анализ ({{ edrpou_num| cut:' ' }}) - {{ seller_name }}</li>
        </ol>
   </nav> 
{% endblock breadcrumb %}

{% block period_button %}

{% endblock period_button %}

{% block DatePeriod %}

{% endblock DatePeriod %}

{% block content %}

<table class="table table-stiped table-hover table-bordered" id="table" data-show-columns="true">
    <thead class="thead table-active sticky-header">
        <tr class="py-0">
			<th><td></td></th>
	    </tr>
    </thead>
    <tbody>

    </tbody>
</table>



{% endblock content %}


{% block js %}

{% endblock js %}