{% extends 'main/base.html' %}

{% load bold_in_quotes %}
{% load static %}
{% load cache %}

{% block title %}
    Продажи :: Сравнительный анализ конкурентов
{% endblock title %}

{% block js-before %}
<link rel="stylesheet" href="{% static 'css/stycky-table.css' %}">
{% endblock js-before %}

{% block period_button %}

{% endblock period_button %}

{% block DatePeriod %}
    <form method="get" class="form-inline" action={% url 'inner:SalesCompetitorsComparse' %} >
        {{ YearSelectForm }}
        <button type="submit" class="btn btn-info">Изменить</button>
{% endblock DatePeriod %}

{% block content %}
<div class="row mx-2">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Внутренний рынок</a></li>
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Продажи</a></li>
            <li class="breadcrumb-item active" aria-current="page">Сравнительный анализ конкурентов</li>
        </ol>
   </nav> 
   <div class="col-md-2"></div>
   <div class="form-check form-check-inline">

            {{ firmTypeSelectForm.f_horeca }}&nbsp;&nbsp;<label for="f_horeca">Horeca</label>
            <div class="col-sm-1"></div>

            {{ firmTypeSelectForm.f_eat }}&nbsp;&nbsp;<label  for="f_eat">Продукты питания</label>
            <div class="col-sm-1"></div>

            {{ firmTypeSelectForm.f_pack }}&nbsp;&nbsp;<label  for="f_pack">Упаковка</label>
            <div class="col-sm-1"></div>
          
            {{ firmTypeSelectForm.f_other }}&nbsp;&nbsp;<label  for="f_other">Другое</label>
            <div class="col-sm-1"></div>
            <input type=hidden name="firm_filter_set" value="1" />
        <button type="submit" class="btn btn-light border-secondary">Применить</button>
    </div>
    </form>
</div>


<table class="table table-bordered" id="table" data-show-columns="true">
    <thead class="thead table-active sticky-header">
        <tr>
			<th colspan="4"><center>Покупатели</center></th><th colspan="13"><center>Период анализа / Суммы в {{ currency }} с НДС</center></th>
            
	    </tr>
        <tr>
            <th class="header">#</th>
            <th class="header">ЕДРПОУ</th>
            <th class="header">ИМЯ</th>
            <th class="header">Импортер</th>
            {% for m in mnth_list %}
                <th class="header"> {{m}} </th>
            {% endfor %}
            <th class="header"><center>{{ year }}, {{ currency }} </center></th>
        </tr>
        <tr>
            <th colspan=4>
                <center>Всего</center>
            </th>
            {% for t in totals %}
                <th> {{t|floatformat:'0'}} </th>
            {% endfor %}
            </th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>

            {% for f in organisations %}
            <tr {% if f.seller__edrpou in competitors %}  style="background-color: #CDFECD;" {% endif %}>
                <td scope="row">{{ forloop.counter0|add:organisations.start_index }}</td>
                <td><a class="btn btn-primary font-weight-bold" href="{% url 'inner:SalesIndividualFirmShow' f.seller__edrpou|cut:' ' %}?selected_year={{year}}">{{ f.seller__edrpou|cut:' ' }}</a></td>
                <td>
                {% if f.buyer__edrpou == 0 %}
                    Иностранные предприятия/неплательщики                
                {% else %}
                    {% autoescape off %}{{ f.seller__name|bold_in_quotes }}{% endautoescape %}
                {% endif %}
                </td>
                <td> {% if f.is_importer %} <center><b>✓</b></center> {% endif %} </td>
                {% for s in f.pms %}
                    {% if s %}
                        <td> <a class="btn btn-light btn-sm border-secondary" style="min-width: 40px;" href="{% url 'inner:SalesIndividualFirmShow' f.seller__edrpou|cut:' ' %}?month={{ forloop.counter }}&selected_year={{ year }}">{{ s | floatformat:'0' }} </a></td>
                    {% else%}
                        <td> <span class="text-muted">-</td>
                    {% endif %}

                {% endfor %}

                <td><a class="btn btn-light font-weight-bold border-secondary" href="{% url 'inner:SalesIndividualFirmShow' f.seller__edrpou|cut:' ' %}?selected_year={{year}}">{{ f.sum |floatformat:0 }}</a></td>
            </tr>
            {% endfor %}
        
    </tbody>
</table>

<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if organisations.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1&selected_year={{year}}">&laquo;</a>
            </li>
             <li class="page-item">
                <a class="page-link" href="?page={{ organisations.previous_page_number }}&selected_year={{year}}"> < </a>
            </li>
        {% endif %}

        <li class="page-item">
            <a class="page-link disabled" href="#"> Page {{ organisations.number }} of {{ organisations.paginator.num_pages }}</a>
        </li>

        {% if organisations.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ organisations.next_page_number }}&selected_year={{year}}"> > </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ organisations.paginator.num_pages }}&selected_year={{year}}"> &raquo; </a>
            </li>
        {% endif %}
    </ul>
 </nav>  


{% endblock content %}


{% block js %}

{% endblock js %}
