{% extends 'main/base.html' %}

{% load bold_in_quotes %}
{% load static %}
{% load cache %}

{% block title %}
    Продажи :: Индивидуальный анализ (поиск)
{% endblock title %}

{% block js-before %}
<style>
  .ui-autocomplete-loading {
    background: white url("{% static 'ui-anim_basic_16x16.gif' %}") right center no-repeat;
  }
</style>
{% endblock js-before %}

{% block content %}
    <h3>Продажи :: Индивидуальный анализ (поиск)</h3>
<form method="GET" action="{% url 'inner:SalesIndividual' %}">
    {% csrf_token %}
    <div class="row">
        <div class="col">
            <div class="input-group mb-3 ml-5">
            {{ searchFormOrg.search_string }} 
                <div class="input-group-append">
                    <button type="submit" class="btn btn-outline-secondary">Поиск</button>
                </div>
            </div>
        </div>
        <div class="col">
            
        </div>
    </div>
</form>
    {% for org in organisations %}
        <div class="row">
            <div class="col-md-1">
                {{ forloop.counter }}
            </div>
            <div class="col-md-1">
                {{ org.seller__edrpou }}
            </div>
            <div class="col">
                {{ org.seller__name }}
            </div>
        </div>
        {% endfor %}
{% endblock content %}


{% block js %}
<script>
    $(function () {
        $("#org_search").autocomplete({
            source: '{% url 'inner:sales_autocomplete_org' %}',
            minLength: 1
        });
    });
</script>
{% endblock js %}