{% extends 'main/base.html' %}

{% load bold_in_quotes %}
{% load render_table from django_tables2 %}
{% load static %}
{% load cache %}
{% load querystring from django_tables2 %}

{% block title %}
    Продажи :: Топ 100 товаров за период
{% endblock title %}

{% block js-before %}
<link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />
<style> 
.container { 
padding-left: 16px; 
padding-right: 16px;
marging-left: 16px; 
marging-right: 16px; 
overflow: hidden;
} 
.container-fluid { 
padding-left: 16px; 
padding-right: 16px;
marging-left: 16px; 
marging-right: 16px; 
overflow: hidden;
} 
.table-container {
  width: 300%;
}
td{
    height: 25px;
    padding-left: 100px;


}
.highlight { background-color: #c8f6cd; }
</style>
{% endblock js-before %}

{% block export_button %}
{% if results %}
    <a href="{% querystring '_export'='xlsx' %}"><button type="button" class="btn btn-outline-success">Export to EXCEL</button></a>
{% endif %}
{% endblock export_button %}

{% block DatePeriod %}
    <form method="get" class="form-inline" action={% url 'inner:topSalesFirmShow' edrpou_num %}>
    {% csrf_token %}    
         {{ period_form.start_date }}
        -
        {{ period_form.end_date }}
        <button type="submit" class="btn btn-info">Изменить</button>
    </form>
{% endblock DatePeriod %}

{% block period_button %}
{% endblock period_button %}

{% block content %}
<div class="container-fluid p-0">
  <div class="row">
        <div class="col">
        {{ firm }}
        </div>
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><span style="color: green;">Стоимости с учетом НДС, текущая валюта (<b>{{ currency }}</b>)</span></li>
                </ol>
            </nav> 
        </div>
    </div>
</div>
    <div class="container" style="margin: auto;">
    {% if top_records %}
        {% render_table table %}
    
    {% else %}
        По заданному запросу за выбранный период записей не обнаружено
    {% endif %}
    </div>




{% endblock content %}


{% block js %}
<script>
$('td').highlight('{{ request.GET.search_string }}');

</script>
{% endblock js %}