{% extends 'main/base.html' %}

{% load bold_in_quotes %}


{% load static %}
{% load cache %}
{% load humanize %}
{% load querystring from django_tables2 %}

{% block title %}
    Продажи :: Топ продаж для {{ firm }}
{% endblock title %}

{% block js-before %}
<link rel="stylesheet" href="{% static 'css/sortable.min.css' %}" />
<style> 
.container { 
padding-left: 16px; 
padding-right: 16px;
marging-left: 16px; 
marging-right: 16px; 
overflow: hidden;
} 
.container-fluid { 
padding-left: 16px; 
padding-right: 16px;
marging-left: 16px; 
marging-right: 16px; 
overflow: hidden;
} 
.div-cell-right {
     text-align: right; 
     vertical-align: middle; 
     border-bottom: 1px solid lightgrey;
     border-left: 1px solid lightgrey;
     padding: 5 px;
}
.div-cell-left {
     text-align: left; 
     vertical-align: middle; 
     border-bottom: 1px solid lightgrey;
     border-left: 1px solid lightgrey;
     padding: 5 px;
}

.highlight { background-color: #c8f6cd; }
</style>
{% endblock js-before %}

{% block export_button %}
{% if top_records %}
    <a href="{% querystring '_export'='xlsx' %}"><button type="button" class="btn btn-outline-success">Export to EXCEL</button></a>
{% endif %}
{% endblock export_button %}

{% block DatePeriod %}
    <form method="get" class="form-inline" action={% url 'inner:topSalesFirmShow' edrpou_num %}>
    {% csrf_token %}    
         {{ period_form.start_date }}
        -
        {{ period_form.end_date }}
        <button type="submit" class="btn btn-info">Изменить</button>
    </form>
{% endblock DatePeriod %}

{% block period_button %}
{% endblock period_button %}

{% block content %}
<div class="container-fluid p-0">
  <div class="row">
        <div class="col"></div>
        <div class="col-md-10">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><span style="color: green;">Топ продаж [{{start_date|date}} - {{end_date|date}}] организации (<b>{{ firm }}</b>)</span></li>
                    <li class="breadcrumb-item"><span style="color: green;">С учетом НДС, валюта (<b>{{ currency }}</b>)</span></li>
                    <li class="breadcrumb-item"><span style="color: green;">Сумма продаж по позиции больше 300 000 грн или количество <b>от 100 единиц</b>.</span></li>
                </ol>
            </nav> 
        </div>
        <div class="col"></div>
    </div>
</div>
    <div  class="container-fluid" style="margin: auto;">
    {% if top_records %}
        
        <table class="table table-stripped sortable">
            <thead>
                <tr>
                    <th>
                        №
                    </th>
                    <th>
                        Наименование
                    </th>
                    <th>
                        Количество 
                    </th>
                    <th>
                    На сумму (UAH)
                    </th>
                </tr>
            </thead>
            <tbody>
            {% for row in top_records %}
                <tr>
                    <td>
                        {{forloop.counter}}
                    </td>
                    <td>
                        <span class="text-capitalize font-weight-bold"><a style="color:black" href="{% url 'inner:RecordsSearch' %}?search_string={{row.product__name}}"> {{row.product__name}}</a></span>
                    </td>
                    <td>
                        {{row.total_count|cut:" "}}
                    </td>
                    <td>
                        {{row.total_cost|cut:" "}}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        По заданному запросу за выбранный период записей не обнаружено
    {% endif %}
    </div>




{% endblock content %}


{% block js %}
<script src="{% static 'js/sortable.min.js' %}"></script>
{% endblock js %}
