{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap-table.min.css' %}">
<link rel="stylesheet" href="{% static 'css/all.min.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
<script src="{% static 'js/Chart.min.js' %}"></script>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/bootstrap-table.min.js' %}"></script>
<script src="{% static 'js/bootstrap-table-sticky-header.min.js' %}"></script>
<script src="{% static 'js/bootstrap-table-ru-RU.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script src="{% static 'js/jquery.highlight-5.js' %}"></script>

{# <script src="{% static 'js/popper.min.js' %}"></script> crash livesearch #}

<title >{% block title %}}{% endblock title %}</title>
{% block js-before %}
{% endblock js-before %}
</head>
<body>


<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light" style="z-index:99; box-shadow: 0 0 10px rgba(0,0,0,0.5);height:70px;">
  <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'favicon-32x32.png' %}"></a>
  {% block help_link %}
 	{% if help_page_id %}
	    <a class="navbar-brand" target=_blank href="{% url 'help:AtrticlePageView' help_page_id %}"><img src="{% static 'info_help.png' %}"></a>
	{% endif %}
  {% endblock help_link %} 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      {% if user.profile.ved_part %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          ВЭД
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#">Конкуренты</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'ved:IndividualReport' %}">Индивидуальный анализ</a></li>
              <div class="dropdown-divider"></div>
              <li><a class="dropdown-item" href="{% url 'ved:CompetitorsComparse' %}">Сравнительный анализ</a></li>
            </ul>
          </li>
          <div class="dropdown-divider"></div>
          <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#">Поставщики</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'ved:TrademarkReportSearch' %}">Индивидуальный анализ</a></li>
            </ul>
          </li>
          <div class="dropdown-divider"></div>
          <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#">Продукты</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'ved:HRKReport' %}">Структура рынка (по категориям)</a></li>
            </ul>
          </li>
          <div class="dropdown-divider"></div>
          <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#">Справочники</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'ved:CompetitorsCatalog' %}">Конкуренты</a></li>
              <li><a class="dropdown-item" href="{% url 'ved:ProductCodesCatalog' %}">Товарные группы</a></li>
              <li><a class="dropdown-item" href="{% url 'ved:TnvedGroupCatalog' %}">Товарные категории</a></li>
            </ul>
          </li>
        </ul>
      </li>
      {% endif %}
      {% if user.profile.nal_part %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Внутренний рынок
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#">Продажи</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href=" {% url 'inner:SalesIndividual' %}">Индивидуальный анализ</a></li>
              <div class="dropdown-divider"></div>
              <li><a class="dropdown-item" href="{% url 'inner:SalesCompetitorsComparse' %}">Сравнительный анализ</a></li>
              <div class="dropdown-divider"></div>
              <li><a class="dropdown-item" href="{% url 'inner:RecordsSearch' %}">Поиск товара по запросу</a></li>
            </ul>
          </li>
          <div class="dropdown-divider"></div>
          <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#">Анализ клиентов конкурентов</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'inner:ClientsCompetitorsIndividualSearch' %}">Индивидуальный анализ</a></li>
              <div class="dropdown-divider"></div>
              <li><a class="dropdown-item" href="{% url 'inner:ClientsCompetitorsComparse' %}">Сравнительный анализ</a></li>
            </ul>
          </li>
          <div class="dropdown-divider"></div>
          <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#">Закупки</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'inner:PurchasesIndividualSearch' %}">Индивдуальный анализ</a></li>
            </ul>
          </li>
          <div class="dropdown-divider"></div>
          <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#">Справочники</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'inner:CompetitorsCatalog' %}">Конкуренты</a></li>
            </ul>
          </li>
        </ul>
      </li>
      {% endif %}
    </ul>
  </div>
  <div class="my-2 my-lg-0">
    <nav class="nav justify-content-center">
     <nav class="input-group">
      {% block export_button %}
      {% endblock export_button %}
     </nav>
    </nav>
  </div>
 {% block breadcrumb %}
 {% endblock breadcrumb %}
  <div class="col md-2 ml-2 mr-2" width="20px">
  </div>
    <div class="my-2 my-lg-0 ">
     <nav class="input-group date" data-provide="datepicker">
      <div class="input-group input-daterange mr-5">

      {% block period_button %}
      <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#periodsModal">
        Доступные периоды
      </button>
      {% endblock period_button %}
          {% block DatePeriod %}
          {% endblock DatePeriod %}
      </div>
     </nav>
    </div>
    <div class="my-2 my-lg-0">
     <nav class="nav justify-content-center">
        <!--<a class="nav-link active" href="{% url 'about' %}">About</a>-->
         {% if request.user.is_authenticated  %}
            <nav class="nav justify-content-center m-3">
              <a href="{% url 'ProfileUpdate' %}">{{ user.profile.bio }} ({{ request.user.username }})</a>
            </nav>

            <nav class="nav justify-content-center m-3">
              <a href="{% url 'logout' %}"> Выйти </a>
            </nav>
        {% else %}
        <nav class="nav justify-content-center">
          <a href="{% url 'login' %}"> Вход </a>
        </nav>
        {% endif %}
      </nav>
      
    </div>
  </div>
</nav>
<script>

$('.dropdown-menu a.dropdown-toggle').on('click', function(e) {
  if (!$(this).next().hasClass('show')) {
    $(this).parents('.dropdown-menu').first().find('.show').removeClass('show');
  }
  var $subMenu = $(this).next('.dropdown-menu');
  $subMenu.toggleClass('show');


  $(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function(e) {
    $('.dropdown-submenu .show').removeClass('show');
  });


  return false;
});

$(function () {
  $('[data-toggle="tooltip"]').tooltip()
});

</script>

<div>
    {% block content %}
    {% endblock content %}
</div>

{% block js %}
{% endblock js %}

</body>
</html>
