{% extends 'main/base.html' %}

{% block title %}
    Профиль пользователя {{ user.profile.bio }}
{% endblock title %}

{% block period_button %}
{% endblock period_button %}


{% block content %}

<div class="container">
  <h2>{{ user.profile.bio }}</h2>
  <form method=POST action="{% url 'ProfileUpdate' %}">
  {% csrf_token %}
  <table class="table">
    <tbody>
      <tr>
        <td scope="row">Имя пользователя:</td><td>
          <input type="text" class="form-control" name="bio" id="" aria-describedby="helpId" value="{{ user.profile.bio }}" placeholder="Фамилия Имя"></td>
        </tr>
        <td scope="row">E-Mail</td><td>
          <input type="email" class="form-control" name="email" id="" aria-describedby="helpId" value="{{ user.email }}" placeholder="name@example.com"></td>
        </tr>
        <td>Основная валюта (для внутреннего рынка):</td><td>
          <select class="form-control" name="currency" id="exampleFormControlSelect1">
            <option value="USD" {% if user.profile.currency == "USD"  %} selected = "selected" {% endif %} >USD</option>
            <option value="EUR" {% if user.profile.currency == "EUR"  %} selected = "selected" {% endif %} >EUR</option>
            <option value="UAH" {% if user.profile.currency == "UAH"  %} selected = "selected" {% endif %} >UAH</option>
          </select>
          <input type="hidden" name="ref" value="{{ ref }}">
        </td>
      </tr>
      <tr>
        <td>Количество строк в таблице на одной странице:</td><td>
          <select class="form-control" name="rows_per_page" id="exampleFormControlSelect2">
            <option value="50" {% if user.profile.rows_per_page == 50  %} selected = "selected" {% endif %} >50</option>
            <option value="100" {% if user.profile.rows_per_page == 100  %} selected = "selected" {% endif %} >100</option>
            <option value="0" {% if user.profile.rows_per_page == 0  %} selected = "selected" {% endif %} >Все имеющиеся</option>
          </select>
      </tr>
      <tr>
        <td scope="row"></td>
        <td>
        <button type="submit" class="btn btn-secondary" data-dismiss="modal">Сохранить</button>
        </td>

      </tr>
    </tbody>
  </table>
</div>

{% endblock content %}