table.table-bordered > thead > tr > th{
  border:1px solid black;
}
table.table-bordered > tbody > tr > td{
  border:1px solid grey;
}

table{
  border-collapse: collapse;
  width: 100%;
}
th{
    background: #DDD;
    box-shadow: inset 1px -1px 1px  black;
    border:0;
}

td,th{
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}


.header{
    position:sticky;
    position: -webkit-sticky;
    top: 70px;
    z-index: 98;
    /*border-collapse: separate;*/
    box-shadow: inset 1px -1px 1px black;

}
