{% extends 'main/base.html' %}
{% load render_table from django_tables2 %}
{% load bold_in_quotes %}
{% load static %}

{% block title %}
ВЭД :: Конкуренты :: Подробный журнал импорта (за период)
{% endblock title %}

{% block js-before %}
<link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />
{% endblock js-before %}



{% block DatePeriod %}
    <form method="get" action={% url 'ved:CompetitorsCatalogPeriodDetail' edrpou_num %}>
         {{ search_form.start_date }}
        -
        {{ search_form.end_date }}
        <button type="submit" class="btn btn-info">Изменить</button>

{% endblock DatePeriod %}

{% block content %}


{% render_table table %}

{% include 'ved/periods.html' %}
{% endblock content %}