{% extends 'main/base.html' %}
{% load render_table from django_tables2 %}
{% load bold_in_quotes %}
{% load static %}
{% load querystring from django_tables2 %}

{% block title %}
ВЭД :: Конкуренты :: Подробный журнал импорта (за период)
{% endblock title %}

{% block js-before %}
<link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />
{% endblock js-before %}

{% block export_button %}
    <a href="{% querystring '_export'='xlsx' %}"><button type="button" class="btn btn-outline-success">Export to EXCEL</button></a>
{% endblock export_button %}


{% block DatePeriod %}

    </form>
    <form method="get" action={% url 'ved:CompetitorsCatalogPeriodDetail' edrpou_num %}>
         {{ search_form.start_date }}
        -
        {{ search_form.end_date }}
        <button type="submit" class="btn btn-info">Изменить</button>

{% endblock DatePeriod %}

{% block content %}

{% autoescape off %}
<div class="row">
    <div class="col">
        <b>{{ firm.name }}</b>
    </div>
    <div class="col">
        ЕДРПОУ: <b>{{ edrpou_num|cut:' '  }}</b>
    </div>
    <div class="col-md-6"></div>
</div>
{% endautoescape %}
{% render_table table %}

{% include 'ved/periods.html' %}
{% endblock content %}