{% extends 'main/base.html' %}

{% block title %}
ВЭД :: Конкуренты :: Сравнительный анализ
{% endblock title %}

{% block content %}
<div class="container">
   ВЭД :: Конкуренты :: Сравнительный анализ 
</div>
    <table class="table">
        <thead>
            <tr>
                <th>ЕДРПОУ</th>
                <th>Короткое имя</th>
                <th>Наименование организации</th>
            </tr>
        </thead>
        <tbody>
        {% if competitors.count > 0 %}
                {% for firm in competitors %}
                    <tr>
                        <td scope="row">{{ firm.competitor_code }}</td>
                        <td>{{ firm.competitor_name }}</td>
                        <td>{{ firm.competitor_surname }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
    
{% endblock content %}

