{% extends 'main/base.html' %}
{% load bold_in_quotes %}
{% load cache %}

{% block title %}
ВЭД :: Конкуренты :: Справочник коонкурентов
{% endblock title %}

{% block js-before %}

{% endblock js-before %}

{% block content %}
{% cache 3 CompetitorsCatalog competitors.query %}
{% block period_button %}
{% endblock period_button %}
<div class="container">


    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link bg-secondary text-light active" data-toggle="tab" href="#tab_1">Конкуренты ({{ year }})</a>
      </li>
    </ul>

	<div class="tab-content">
      <div class="tab-pane fade show active" id="tab_1">
	  	<div class="table-responsive-lg">
			<table class="table table-hover table-secondary table-bordered table-striped">
			  <thead>
			    <tr class="table-secondary">
			      <th scope="col">№</th>
			      <th scope="col">ЕДРПОУ</th>
			      <th scope="col">Наименование</th>
			      <th scope="col">Псевдоним</th>
			      <th scope="col">Количество записей</th>
			      <th scope="col">Сумма, $</th>		
				  <th scope="col">Сумма, €</th>			
			    </tr>
			  </thead>
			  <tbody><tr>
                    {% for firm in competitors %}
				      <th scope="row">{{ forloop.counter }}</th>
				      <td><a class="btn btn-secondary font-weight-bold" href="{% url 'ved:IndividualReportFirmShow' firm.record__recipient__edrpou %}?start_date={{ start_date }}&end_date={{ end_date }}">{{ firm.record__recipient__edrpou | cut:' ' }}</a></td>
				      <td>{% autoescape off %} {{ firm.record__recipient__name|bold_in_quotes }} {% endautoescape %}</td>
				      <td><span class="font-weight-bold">{{ firm.record__recipient__firm_alias }}</span></td>
					  <td>{{ firm.total_count }}</td>
					  <td>{{ firm.total_cost|floatformat:2 }}</td>
					  <td>{{ firm.total_cost_eur|floatformat:2 }}</td>
				    </tr>
                    {% endfor %}
              </tbody>
			</table>
	  	</div>
	  </div>
		
	</div>
</div>


{% comment %}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endcomment %} 

{% endcache %}
{% endblock content %}

