{% extends 'main/base.html' %}
{% load bold_in_quotes %}
{% load cache %}
{% load static %}


{% block title %}
ВЭД :: Конкуренты :: Справочник коонкурентов
{% endblock title %}

{% block js-before %}
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
{% endblock js-before %}
{% comment "" %}{% block help_link %}

{% endblock help_link %}
{% endcomment %}
{% block period_button %}
<a class="btn btn-light" target=_blank href="https://customs-invecta.com.ua/ukt-ved/"><u>Коды УКТВЭД Украины 2020: поиск и расшифровка кода УКТЗЕД</u></a>
{% endblock period_button %}
{% block content %}
{% cache 36000 CompetitorsCatalog competitors.query %}
<div class="row">
	<div class="col">
		
	</div>
</div>
<div class="row">
	<div class="col-md ml-5 mr-5">
		<ul class="nav nav-tabs">
		<li class="nav-item">
			<a class="nav-link bg-secondary text-light active" data-toggle="tab" href="#tab_1">Конкуренты</a>
		</li>
		<li class="nav nav-item">
			<input id="myInput" type="text" placeholder="Поиск..">
		</li>
		</ul>

		<div class="tab-content">
		<div class="tab-pane fade show active" id="tab_1">
			<div class="table-responsive-lg">
				<table class="table table-sm table-hover table-secondary table-bordered table-striped">
				<thead>
					<tr class="table-secondary">
					<th width="3%">№</th>
					<th width="5%">ЕДРПОУ</th>
					<th width="24%">Наименование</th>
					<th width="6%%">Журнал импорта</th>
					<th width="13%">YS::Доход (2019, тыс. грн.)</th>
					<th width="49%">YS::Группы товаров (ТОП) (2019)</th>
					</tr>
				</thead>
				<tbody id="myTable">
						{% for firm in competitors %}
						<tr>
						<th scope="row">{{ forloop.counter }}</th>
						<td class="py-0 align-middle"><a class="btn btn-secondary font-weight-bold" href="{% url 'ved:IndividualReportFirmShow' firm.record__recipient__edrpou %}?start_date={{ start_date }}&end_date={{ end_date }}">{{ firm.record__recipient__edrpou | cut:' ' }}</a></td>
						<td class="py-0 align-middle">{% autoescape off %} {{ firm.record__recipient__name|bold_in_quotes }} {% endautoescape %}</td>
{% comment %}			
						<th width="6%">Псевдоним</th>
						<td>{% autoescape off %} {{ firm.record__recipient__name|bold_in_quotes }} {% endautoescape %}</td>
						<td><span class="font-weight-bold">{{ firm.record__recipient__firm_alias }}</span></td>
{% endcomment %}

						<td class="py-0 align-middle"><a name="" id="" class="btn btn-secondary" href="{% url 'ved:CompetitorsCatalogPeriodDetail' firm.record__recipient__edrpou  %}" role="button">Перейти</a></td>
						<td class="py-0 align-middle">{{ firm.y_fin_m_in }}</td>
						<td class="py-0 align-middle">
							{% with countern=forloop.counter%}
								{% if firm.y_fin_m_in %}
									<button class="btn btn-light border rounded" style="height: 35px;" type="button" data-toggle="collapse" data-target="#data-collapse-{{ countern }}" aria-expanded="false" aria-controls="data-collapse-{{ countern }}">
									<small>&#8675;&#8675;&#8675; Нажмите чтобы отобразить/скрыть текст описания &#8675;&#8675;&#8675;</small>
									</button>
								{% endif %}
								<div class="collapse" id="data-collapse-{{ countern }}">
									{% for utk in firm.y_ved_utk %}
										<p>
											{{ utk|truncatechars:120|safe }}
										</p>
									{% endfor %}
								</div>
							{% endwith %}


							</td>
						</tr>
						{% endfor %}
				</tbody>
				</table>
			</div>
		</div>
			
		</div>
	</div>

</div>


{% comment %}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endcomment %} 

{% endcache %}
{% endblock content %}

