{% extends 'main/base.html' %}
{% load bold_in_quotes %}
{% load cache %}

{% block title %}
ВЭД :: Конкуренты :: Справочник коонкурентов
{% endblock title %}

{% block js-before %}

{% endblock js-before %}
{% block period_button %}
<a class="btn btn-light" target=_blank href="https://customs-invecta.com.ua/ukt-ved/"><u>Коды УКТВЭД Украины 2020: поиск и расшифровка кода УКТЗЕД</u></a>
{% endblock period_button %}
{% block content %}
{% cache 3 CompetitorsCatalog competitors.query %}

<div class="row">
	<div class="col-md ml-5 mr-5">
		<ul class="nav nav-tabs">
		<li class="nav-item">
			<a class="nav-link bg-secondary text-light active" data-toggle="tab" href="#tab_1">Конкуренты</a>
		</li>
		</ul>

		<div class="tab-content">
		<div class="tab-pane fade show active" id="tab_1">
			<div class="table-responsive-lg">
				<table class="table table-hover table-secondary table-bordered table-striped">
				<thead>
					<tr class="table-secondary">
					<th width="3%">№</th>
					<th width="5%">ЕДРПОУ</th>
					<th width="8%">Наименование</th>
					<th width="6%">Псевдоним</th>
					<th width="6%%">Журнал импорта</th>
					<th width="13%">YS::Доход (2019, тыс. грн.)</th>
					<th width="59%">YS::Группы товаров (ТОП) (2019)</th>
					</tr>
				</thead>
				<tbody><tr>
						{% for firm in competitors %}
						<th scope="row">{{ forloop.counter }}</th>
						<td><a class="btn btn-secondary font-weight-bold" href="{% url 'ved:IndividualReportFirmShow' firm.record__recipient__edrpou %}?start_date={{ start_date }}&end_date={{ end_date }}">{{ firm.record__recipient__edrpou | cut:' ' }}</a></td>
						<td>{% autoescape off %} {{ firm.record__recipient__name|bold_in_quotes }} {% endautoescape %}</td>
						<td><span class="font-weight-bold">{{ firm.record__recipient__firm_alias }}</span></td>
						<td><a name="" id="" class="btn btn-secondary" href="{% url 'ved:CompetitorsCatalogPeriodDetail' firm.record__recipient__edrpou  %}" role="button">Перейти</a></td>
						<td>{{ firm.y_fin_m_in }}</td>
						<td>
							{% for utk in firm.y_ved_utk %}
							<p>
								{{ utk|truncatechars:120|safe }}
							</p>
							{% endfor %}
							</td>
						</tr>
						{% endfor %}
				</tbody>
				</table>
			</div>
		</div>
			
		</div>
	</div>

</div>


{% comment %}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endcomment %} 

{% endcache %}
{% endblock content %}

