{% extends 'main/base.html' %}
{% load bold_in_quotes %}
{% load cache %}

{% block title %}
ВЭД :: Конкуренты :: Сравнительный анализ
{% endblock title %}

{% block DatePeriod %}
    <form method="get" action={% url 'ved:CompetitorsComparse' %}>
         {{ search_form.start_date }}
        -
        {{ search_form.end_date }}
        <button type="submit" class="btn btn-info">Изменить</button>

{% endblock DatePeriod %}

{% block content %}
{% cache 3600 CompetitorsComparse comparse.query %}



<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-6">
        <canvas height="200px" width="800px" id="pie-chart" > </canvas>
    </div>
    <div class="col-sm-5">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">ВЭД</li>
                    <li class="breadcrumb-item">Конкуренты</li>
                    <li class="breadcrumb-item active" aria-current="page">Сравнительный анализ
                    <div class="center-block">
                        <span class="blockquote text-center blockquote-footer">Отчет построен для списка конкурентов по <a href={% url 'ved:TnvedGroupCatalog' %} target=_blank>заданному профилю товаров</a> по курсу НБУ </span>
                    </div>
                    </li>
                </ol>
        </nav> 
    </div>
    </div>
</div>

<div class="container-fluid">
    <table class="table">
        <thead>
            <tr>
                <th>№</th>
                <th>ЕДРПОУ</th>
                <th>Наименование организации</th>
                <th>Количество записей</th>
                <th>Сумма, $</th>
                <th>Дельта, $ <span class="badge badge-pill badge-info" style="cursor: help" data-toggle="tooltip" data-placement="top" title="Разница с аналогичным периодом в предыдущем году">?</span></th>
                <th>Сумма, €</th>
                <th>Доля, %</th>
            </tr>
        </thead>
        <tbody>

        {% for firm in comparse %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td scope="row">
                    <a class="btn btn-primary font-weight-bold" href="{% url 'ved:IndividualReportFirmShow' firm.record__recipient__edrpou %}?start_date={{ start_date }}&end_date={{ end_date }}">{{ firm.record__recipient__edrpou | cut:' ' }}</a> 
                </td>
                <td>{% autoescape off %} {{ firm.record__recipient__name|bold_in_quotes }} {% endautoescape %}</td>
                <td>{{ firm.count }}</td>
                <td>{{ firm.total_cost|floatformat:"2" }}</td>
                <td><span class="badge badge-pill {% if firm.delta > 0 %} badge-success {% else %} {% if firm.delta < 0 %} badge-danger {% else %} badge-secondary {% endif %} {% endif %}" style="cursor: help" data-toggle="tooltip" data-placement="right" title="{{ firm.prev_total_cost }} $" >{% if firm.delta > 0 %} +{% endif %}{{ firm.delta }}</span></td>
                <td>{{ firm.total_cost_eur|floatformat:"2" }}</td>
                <td style="width: 250px; ">
                    <div class="progress" style="height: 20px;"">
                        <div class="progress-bar  bg-info" role="progressbar" style="width: {{ firm.percent|floatformat:"0" }}%" aria-valuenow="{{ firm.percent|floatformat:"1" }}" aria-valuemin="0" aria-valuemax="100"><span class = "ml-3" style="color:black;position:absolute;">{{ firm.percent|floatformat:"1" }}%</span></div>
                    </div>
                </td>
                
            </tr>
        {% endfor %}

        </tbody>
    </table>
 </div>   
{% include 'ved/periods.html' %}
<script>
    var config = {
      type: 'pie',
      data: {
        datasets: [{
        data: {{ data|safe }},
        backgroundColor: ["#9bade5", "#778c55", "#994f6a", "#72ccb9", "#ccbdcb", "#e2dda1", "#62b0d3", "#e2c8f5", "#dfa155", "#e46262", "#dadeda", "#42fab0", "#7fcfb8", "#ef89a2", "#bdb1af"],
        label: 'Firm'
    }],
        labels: {{ labels|safe }}
    },
    options: {
        responsive: false,
        legend:
            {
                display: true,
                fullWidth: false,
                position: 'right',
                labels:
                {
                    FontSize: 8
                },
                itemStyle: {
                    width: 35 // or whatever, auto-wrap
                },
            }
    }
};

window.onload = function() {
    var ctx = document.getElementById('pie-chart').getContext('2d');
    window.myPie = new Chart(ctx, config);
};




</script>
{% endcache %}
{% endblock content %}

