{% extends 'main/base.html' %}
{% load bold_in_quotes %}
{% load cache %}

{% block title %}
ВЭД :: Структура рынка (по категориям)
{% endblock title %}

{% block DatePeriod %}
    <form method="get" action={% url 'ved:HRKReport' %}>
         {{ search_form.start_date }}
        -
        {{ search_form.end_date }}
        <button type="submit" class="btn btn-info">Изменить</button>

{% endblock DatePeriod %}

{% block content %}
{% cache 3 HRKReport comparse.query %}

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">ВЭД</li>
            <li class="breadcrumb-item active" aria-current="page">Структура рынка (по категориям) 
  
            <div class="center-block">
                 <span class="blockquote text-center blockquote-footer">Отчет находится в разработке </span>
              {% comment %}
                <span class="blockquote text-center blockquote-footer">Отчет построен для списка конкурентов по заданному профилю товаров по курсу НБУ </span>
                {% endcomment %}
            </div>
            </li>
        </ol>
   </nav> 
</div>

<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-2">
        <p class="text-center">Топ-10 организаций</p>
  </div>
  <div class="col-md-2">
  </div>
  <div class="col-md-4">
        <p class="text-center">Структура рынка</p>
  </div>
  <div class="col-md-2">
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-4">
        <canvas id="pie-chart"></canvas>
  </div>
  <div class="col-sm-1">
  </div>
  <div class="col-sm-3">
        <canvas id="gr_chart"></canvas>
  </div>
    <div class="col-sm-1">
  </div>
</div>
<div class="row mt-3">
    <div class="col-md-6">
        Объем выбранного профиля рынка равен <span class="font-weight-bold">{{ percents_sum|floatformat:0 }}$</span>
    </div>
    
    <div class="col-md-4">
        <form method=GET action={% url 'ved:HRKReport' %}>
            <div class="form-group form-inline">
              <label for=""></label>
              <input type="number" min=1 max=100
                class="form-control" name="report_percent" value={{ report_percent }} id="" aria-describedby="helpId" placeholder="">
                <button type="submit" class="btn btn-secondary">Изменить</button>
              <small id="helpId" class="form-text text-muted">Задайте процент формирования профиля рынка</small>
            </div>
        </form>
    </div>
    <div class="col-md-2"></div>

</div>
<div class="container-fluid">
    <table class="table">
        <thead>
            <tr>
                <th>№</th>
                <th>ЕДРПОУ</th>
                <th>Наименование организации</th>
                <th>Количество записей</th>
                <th>Сумма, $</th>
                <th>Сумма, €</th>
                <th>Доля, %</th>
            </tr>
        </thead>
        <tbody>

        {% for firm in comparse %}
            <tr>
                <td {% if firm.record__recipient__edrpou in competitors %} style="background-color: #F0E68C;" {% endif %}>{{ forloop.counter }}</td>
                <td scope="row" {% if firm.record__recipient__edrpou in competitors %} style="background-color: #F0E68C;" {% endif %}>
                    <a class="btn btn-primary font-weight-bold" href="{% url 'ved:IndividualReportFirmShow' firm.record__recipient__edrpou %}?start_date={{ start_date }}&end_date={{ end_date }}">{{ firm.record__recipient__edrpou | cut:' ' }}</a> 
                </td>
                <td {% if firm.record__recipient__edrpou in competitors %} style="background-color: #F0E68C;" {% endif %}>
                    {% autoescape off %} {{ firm.record__recipient__name|bold_in_quotes }} {% endautoescape %}
                </td>
                <td {% if firm.record__recipient__edrpou in competitors %} style="background-color: #F0E68C;" {% endif %}>{{ firm.count }}</td>
                <td {% if firm.record__recipient__edrpou in competitors %} style="background-color: #F0E68C;" {% endif %}>{{ firm.total_cost|floatformat:"2" }}</td>
                <td {% if firm.record__recipient__edrpou in competitors %} style="background-color: #F0E68C;" {% endif %}>{{ firm.total_cost_eur|floatformat:"2" }}</td>
                <td style="width: 250px;" {% if firm.record__recipient__edrpou in competitors %} style="background-color: #F0E68C;" {% endif %}>
                    <div class="progress" style="height: 20px;"">
                        <div class="progress-bar  bg-info" role="progressbar" style="width: {{ firm.percent|floatformat:"0" }}%" aria-valuenow="{{ firm.percent|floatformat:"1" }}" aria-valuemin="0" aria-valuemax="100"><span class = "ml-3" style="color:black;position:absolute;">{{ firm.percent|floatformat:"1" }}%</span></div>
                    </div>
                </td>
                
            </tr>
        {% endfor %}

        </tbody>
    </table>
 </div>   
{% include 'ved/periods.html' %}
<script>
var config_pie = {
      type: 'pie',
      data: {
        datasets: [{
        data: {{ data|safe }},
        backgroundColor: ["#0074D9", "#FF4136", "#2ECC40", "#FF851B", "#7FDBFF", "#B10DC9", "#FFDC00", "#001f3f", "#39CCCC", "#01FF70", "#85144b", "#F012BE", "#3D9970", "#111111", "#AAAAAA"],
        label: 'Организации'
    }],
        labels: {{ labels|safe }}
    },
    options: {
        responsive: true,
        legend:
            {
                position: 'right',
                display: true,
                labels:
                {
                    FontSize: 10
                }
            }
    }
};

var config_bar = {
    type: 'doughnut',
    data: {
        datasets: [{
            data: {{ gpercents|safe }},
            backgroundColor: ["#B10DC9", "#FFDC00", "#001f3f", "#39CCCC", "#01FF70", "#85144b", "#F012BE", "#3D9970"],
        }],
        labels: {{ glabels|safe }}
    },
    options: {
        legend: {
            position: 'right'
        }
    }
 };   


window.onload = function() {
    var ctx1 = document.getElementById('pie-chart').getContext('2d');
    window.myPie = new Chart(ctx1, config_pie);
    var ctx2 = document.getElementById('gr_chart').getContext('2d');
    window.myBar = new Chart(ctx2, config_bar);
};




</script>
{% endcache %}
{% endblock content %}

