{% extends 'main/base.html' %}
{% load cache %}
{% load bold_in_quotes %}

{% comment %}
TODO: 

{% endcomment %}


{% block title %}
{{ firm.name }} - ВЭД :: Конкуренты :: Индивидуальный анализ :: Просмотр (подробный)
{% endblock title %}

{% block content %}

{% cache 3600 IndividualReportRaw request.get_full_path %}
    <div class="container m-2">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'ved:index' %}">ВЭД</a></li>
                <li class="breadcrumb-item"><a href="{% url 'ved:index' %}">Конкуренты</a></li>
                <li class="breadcrumb-item"><a href="{% url 'ved:IndividualReport' %}">Индивидульный анализ (Поиск)</a></li>
                <li class="breadcrumb-item"><a href="{% url 'ved:IndividualReportFirmShow' edrpou_num %}?start_date={{ start_date }}&end_date={{ end_date }}">Индивидульный анализ ({{ firm.edrpou |cut:" " }})</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ gtd }}</li>
             </ol>
        </nav> 
    </div>
        {% autoescape off %}
        {{ firm.name|bold_in_quotes }}
        {% endautoescape %}
        <table class="table table-striped border border-secondary">
        <thead>
        <!-- 'record__sender__name','record__sender__country__name','record__date','product_code','trademark__name','description','cost_fact' -->
            <tr>
                <th>№</th>
                <th>Дата</th>
                <th>Экспортер</th>
                <th>Страна</th>
                <th>Торговая марка</th>
                <th>Код товара</th>
                <th>Описание</th>
                <th>Стоимость, $</th>
                <th>Стоимость, €</th>
            </tr>
        </thead>
        <tbody>
            {% for r in records %}
            <tr>
                <td scope="row">
                    {{ forloop.counter0|add:records.start_index }} 
                </td>
                <td>
                    {{ r.record__date | date:"d-b-y" |wordwrap:50 }}
                </td>
                <td>
                    {{ r.record__sender__name}}                    
                </td>
                <td>
                    {{ r.record__sender__country__name}}
                </td>
                <td>
                    <div class="border border-secondary rounded p-1 bg-light font-weight-bold"><a href="{% url 'ved:TrademarkReportShow' r.trademark__name|urlencode:"" %}?start_date={{ start_date }}&end_date={{ end_date }}">{% autoescape off %}{{ r.trademark__name }}{% endautoescape %}</a></div>
                </td>
                <td>
                    {{ r.product_code| cut:' '  }}
                </td>
                <td>
                    {{ r.description |wordwrap:150}}
                </td>
                <td>
                    {{ r.cost_fact |floatformat:2 }}
                </td>
                <td>
                    {{r.total_cost_eur|floatformat:2 }}
                </td>
            </tr>
            {% endfor %}
         </tbody>
    </table>
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if records.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1">&laquo;</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ records.previous_page_number }}&start_date={{ start_date }}&end_date={{ end_date }}"> < </a>
                </li>
            {% endif %}

            <li class="page-item">
                <a class="page-link disabled" href="#"> Page {{ records.number }} of {{ records.paginator.num_pages }}</a>
            </li>

            {% if records.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ records.next_page_number }}&start_date={{ start_date }}&end_date={{ end_date }}"> > </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ records.paginator.num_pages }}&start_date={{ start_date }}&end_date={{ end_date }}"> &raquo; </a>
                </li>
            {% endif %}
        </ul>
    </nav>  
{% include 'ved/periods.html' %}
{% endcache %}
{% endblock %}