{% extends 'main/base.html' %}

{% block title %}
ВЭД :: Конкуренты :: Индивидуальный анализ :: Просмотр (подробный)
{% endblock title %}

{% block content %}
    {{ gtd }}<br>
    {{ edrpou_num }}
        <table class="table">
        <thead>
            <tr>
                <th>№</th>
                <th>Дата</th>
                <th>Номер ГТД</th>
                <th>Торговые марки</th>
                <th>Записей</th>
                <th>На сумму, $</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row">
                    {{ forloop.counter }}
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
            </tr>
         </tbody>
    </table>
{% endblock %}