{% extends 'main/base.html' %}

{% block title %}
ВЭД :: Конкуренты :: Индивидуальный анализ
{% endblock title %}

{% block content %}
<div class="container">
   ВЭД :: Конкуренты :: Индивидуальный анализ 
</div>
<div class="container">
    <form method="post" action={% url 'ved:IndividualReport' %}>
    <div class="col-md-4">
        <div class="form-group">
         {% csrf_token %}
        {{ search_form }}
        </div>
    </div>
    <div class="col-md-4">
        <button type="submit" class="btn btn-primary">Поиск</button>
    </div>
    </form>
    Found {{ organisation.count }}<br>
</div>
<div class="container-fluid">
    <table class="table">
        <thead>
            <tr>
                <th>ЕДРПОУ</th>
                <th>Наименование организации</th>
                <th>Конкурент</th>
            </tr>
        </thead>
        <tbody>
        {% if organisation.count > 0 %}
                {% for firm in organisation %}
                    <tr>
                        
                        <td scope="row">
                        <!--<a class="btn btn-info" href="{% url 'ved:IndividualReport' %}/{{ firm.edrpou }}">{{ firm.edrpou }}</a> -->
                        <a class="btn btn-info" href="{% url 'ved:IndividualReportFirmShow' firm.edrpou %}">{{ firm.edrpou }}</a> 
                        <td>{{ firm.name }}</td>
                        <td>{{ firm.is_competitor }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
 </div>   
{% endblock content %}

