{% extends 'main/base.html' %}

{% load static %}

{% block title %}
ВЭД :: Конкуренты :: Индивидуальный анализ
{% endblock title %}

{% block DatePeriod %}
    <form method="post" action={% url 'ved:IndividualReport' %}>
        {% csrf_token %}
        {{ search_form.start_date }}
        -
        {{ search_form.end_date }}
        <button type="submit" class="btn btn-info">Изменить</button>

{% endblock DatePeriod %}

{% block content %}
<div class="container">
   ВЭД :: Конкуренты :: Индивидуальный анализ 
</div>
<div data-date="12/03/2012"></div>
<div class="container">

    <div class="col-md-4">
        <div class="form-group">
         {% csrf_token %}
        {{ search_form.search_string }}
        </div>
    </div>
    <div class="col-md-4">
        <button type="submit" class="btn btn-primary ">Поиск</button>
    </div>
    </form>
{% if grecords.count > 0 %}

    Найдено: {{ grecords.count }}<br>
</div>
<div class="container-fluid">
    <table class="table table-striped border border-secondary">
        <thead>
            <tr>
                <th>№</th>
                <th>ЕДРПОУ</th>
                <th>Наименование организации</th>
                <th>Торговые марки</th>
                <th>Записей</th>
                <th>На сумму, $</th>
                <th>Конкурент</th>
            </tr>
        </thead>
        <tbody>
        {% for gr in grecords %}
                    <tr>
                        <td scope="row">
                            {{ forloop.counter }}
                        </td>
                        <td>
                        <a class="btn btn-primary font-weight-bold" href="{% url 'ved:IndividualReportFirmShow' gr.record__recipient__edrpou %}?start_date={{ start_date }}&end_date={{ end_date }}">{{ gr.record__recipient__edrpou | cut:' ' }}</a> 
                        </td>
                        <td ><span class="h6">{{ gr.record__recipient__name }}</span></td>
                        <td>
                        
                        {% for tm in gr.tms %}
                            {% if forloop.counter <= 5  %}
                                <div class="border border-secondary rounded p-1 bg-light font-weight-bold">{{tm}}</div>
                            {% endif %}
                        {% endfor %}
                        {% if  gr.tms_count > 5 %}
                         ... ({{gr.tms_count}})
                        {% endif %}
                         
                        </td>
                         <td>
                            {{ gr.count }}
                        </td>
                        <td>
                            {{ gr.total_cost }}
                        </td>
                        <td>
                        {% if gr.record__recipient__is_competitor %} 
                            <img src="{% static 'yes.png' %}" alt="yes"> 
                        {% else %}
                            <img src="{% static 'no.png' %}" alt="no">
                        {% endif %}
                        </td>

                    </tr>
                {% endfor %}
{% else %}
                <div class='warning'>
                    Извините, по данному запросу ничего не найдено
                </div>
        </tbody>
    </table>
 </div>   
{% endif %}
{% endblock content %}

{% block js %}

{% endblock js %}

