{% extends 'main/base.html' %}

{% load bold_in_quotes %}
{% load static %}
{% load cache %}

{% block title %}
ВЭД :: Конкуренты :: Индивидуальный анализ
{% endblock title %}

{% block js-before %}
<style>
  .ui-autocomplete-loading {
    background: white url("{% static 'ui-anim_basic_16x16.gif' %}") right center no-repeat;
  }

</style>
{% endblock js-before %}

{% block DatePeriod %}
    <form method="get" class="form-inline" action={% url 'ved:IndividualReport' %}>
         {{ search_form_org.start_date }}
        -
        {{ search_form_org.end_date }}
        <button type="submit" class="btn btn-info">Изменить</button>
    </form>
{% endblock DatePeriod %}

{% block content %}

<div class="container m-2">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">ВЭД</a></li>
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Конкуренты</a></li>
            <li class="breadcrumb-item active" aria-current="page">Индивидульный анализ (Поиск) {{ start_date}} - {{end_date}}</li>
        </ol>
   </nav> 
</div>

<div class="row">
    <div class="col">
        <div class="input-group mb-3">
        <form method="get" class="form-inline" style="width: 600px;" action={% url 'ved:IndividualReport' %}>
        {{ search_form_org.search_string }} 
            <input type="hidden" name="start_date" value="{{ start_date }}"
            <input type="hidden" name="end_date" value="{{ end_date }}"
            {{search_form_org.end_date.value}}
            <div class="input-group-append">
                <button type="submit" class="btn btn-outline-secondary">Поиск</button>
            </div>
        </form>
        </div>
    </div>
    <div class="col">
        
    </div>
</div>
</form>
</div>

{% if request.GET.search_string|length > 0 %}
{% if grecords.object_list %}
    <div class="table-responsive p-3">

        <table class="table table-sm table-striped border border-secondary">
            <thead>
                <tr>
                    <th>№</th>
                    <th>                    
                    <a class="btn btn-light w-100 h-100" style="display: inline-block; white-space: nowrap;" href={% url 'ved:IndividualReport' %}?start_date={{ start_date }}&end_date={{ end_date }}&sort_field=record__recipient__edrpou&sort_order={{ order.sort_order }}&search_string={{ request.GET.search_string }}>
                    {% if order.sort_field  ==  "record__recipient__edrpou" %}
                        {% if order.sort_order == 'asc' %}
                            &#8673;
                        {% elif order.sort_order == 'desc' %}
                            &#8675;
                        {% endif %}
                     {% else %}
                        &#8645;
                    {% endif %}
                    ЕДРПОУ </a>
                    </th>
                    <th>                    
                    <a class="btn btn-light w-100 h-100" style="display: inline-block; white-space: nowrap;" href={% url 'ved:IndividualReport' %}?start_date={{ start_date }}&end_date={{ end_date }}&sort_field=record__recipient__name&sort_order={{ order.sort_order }}&search_string={{ request.GET.search_string }}>
                    {% if order.sort_field  ==  "record__recipient__name" %}
                        {% if order.sort_order == 'asc' %}
                            &#8673;
                        {% elif order.sort_order == 'desc' %}
                            &#8675;
                        {% endif %}
                     {% else %}
                        &#8645;
                    {% endif %}
                    Наименование организации</a>
                    </th>
                    <th>
                    <a class="btn btn-light w-100 h-100" style="display: inline-block; white-space: nowrap;" href={% url 'ved:IndividualReport' %}?start_date={{ start_date }}&end_date={{ end_date }}&sort_field=count&sort_order={{ order.sort_order }}&search_string={{ request.GET.search_string }}>
                    {% if order.sort_field  ==  "count" %}
                        {% if order.sort_order == 'asc' %}
                            &#8673;
                        {% elif order.sort_order == 'desc' %}
                            &#8675;
                        {% endif %}
                     {% else %}
                        &#8645;
                    {% endif %}
                    Записей</a></th>
                    <th>
                    <a class="btn btn-light w-100 h-100" style="display: inline-block; white-space: nowrap;" href={% url 'ved:IndividualReport' %}?start_date={{ start_date }}&end_date={{ end_date }}&sort_field=total_cost&sort_order={{ order.sort_order }}&search_string={{ request.GET.search_string }}>
                    {% if order.sort_field  ==  "total_cost" %}
                        {% if order.sort_order == 'asc' %}
                            &#8673;
                        {% elif order.sort_order == 'desc' %}
                            &#8675;
                        {% endif %}
                     {% else %}
                        &#8645;
                    {% endif %} На сумму, $</a></th>
                    <th>
                    <a class="btn btn-light w-100 h-100" style="display: inline-block; white-space: nowrap;" href={% url 'ved:IndividualReport' %}?start_date={{ start_date }}&end_date={{ end_date }}&sort_field=total_cost_eur&sort_order={{ order.sort_order }}&search_string={{ request.GET.search_string }}>
                    {% if order.sort_field  ==  "total_cost_eur" %}
                        {% if order.sort_order == 'asc' %}
                            &#8673;
                        {% elif order.sort_order == 'desc' %}
                            &#8675;
                        {% endif %}
                     {% else %}
                        &#8645;
                    {% endif %} На сумму, €</a></th>
                    <th>
                    <a class="btn btn-light w-100 h-100" style="display: inline-block; white-space: nowrap;" href={% url 'ved:IndividualReport' %}?start_date={{ start_date }}&end_date={{ end_date }}&sort_field=record__recipient__is_competitor&sort_order={{ order.sort_order }}&search_string={{ request.GET.search_string }}>
                    {% if order.sort_field  ==  "record__recipient__is_competitor" %}
                        {% if order.sort_order == 'asc' %}
                            &#8673;
                        {% elif order.sort_order == 'desc' %}
                            &#8675;
                        {% endif %}
                     {% else %}
                        &#8645;
                    {% endif %} Конкурент</a></th>
                </tr>
            </thead>
            <tbody>
            
            {% for gr in grecords %}
                        <tr>
                            <td scope="row">
                                {{ forloop.counter0|add:grecords.start_index }}
                            </td>
                            <td>
                                <a class="btn btn-primary font-weight-bold" href="{% url 'ved:IndividualReportFirmShow' gr.record__recipient__edrpou %}?start_date={{ start_date }}&end_date={{ end_date }}">{{ gr.record__recipient__edrpou | cut:' ' }}</a> 
                            </td>
                            <td ><span class="h6">{% autoescape off %} {{ gr.record__recipient__name | bold_in_quotes }} {% endautoescape %}</span> </td>
                            <td  style="text-align: right;">
                                {{ gr.count }}
                            </td>
                            <td style="text-align: right;">
                                {{ gr.total_cost|floatformat:2 }}
                            </td>
                            <td style="text-align: right;">
                                {{ gr.total_cost_eur |floatformat:2 }}
                            </td>

                            <td  style="text-align: center;">
                            {% if gr.record__recipient__is_competitor %} 
                                <img src="{% static 'yes.png' %}" alt="yes"> 
                            {% else %}
                                <img src="{% static 'no.png' %}" alt="no">
                            {% endif %}
                            </td>

                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if grecords.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1&search_string={{ search_string|urlencode:"" }}&start_date={{ start_date }}&end_date={{ end_date }}">&laquo;</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ grecords.previous_page_number }}&search_string={{ search_string|urlencode:"" }}&start_date={{ start_date }}&end_date={{ end_date }}"> < </a>
                    </li>
                {% endif %}

                <li class="page-item">
                    <a class="page-link disabled" href="#"> Page {{ grecords.number }} of {{ grecords.paginator.num_pages }}</a>
                </li>

                {% if grecords.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ grecords.next_page_number }}&search_string={{ search_string|urlencode:"" }}&start_date={{ start_date }}&end_date={{ end_date }}"> > </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ grecords.paginator.num_pages }}&search_string={{ search_string|urlencode:"" }}&start_date={{ start_date }}&end_date={{ end_date }}"> &raquo; </a>
                    </li>
                {% endif %}
            </ul>
        </nav>  
{% else %}
        <div class='container  warning'>
            Извините, по данному запросу ничего не найдено
        </div>
{% endif %}

 </div>
{% endif %}

 {% include 'ved/periods.html' %}



{% endblock content %}

{% block js %}
<script>
    $(function () {
        $("#org_search").autocomplete({
            source: '{% url 'ved:autocomplete_org' %}',
            minLength: 3
        });
    });
</script>
{% endblock js %}

