{% extends 'main/base.html' %}
{% load times %}

{% block title %}
Тесты
{% endblock title %}


{% block content %}

<div class="row">
    <div class="col">
        <table class="table">
            <thead>
                <tr>


                    <th>{% autoescape off %}{{ arrow_down }}{% endautoescape %} Code</th>
                    <th>Name</th>
                    <th>Alias</th>
                </tr>
            </thead>
            <tbody>
           {% for comp in table_data %}
                <tr>
                    <td scope="row">{{ comp.competitor_code }}</td>
                    <td>{{ comp.competitor_surname }}</td>
                    <td>{{ comp.competitor_name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if table_data.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1&search_string={{ search_string|urlencode:"" }}&start_date={{ start_date }}&end_date={{ end_date }}">&laquo;</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ table_data.previous_page_number }}&search_string={{ search_string|urlencode:"" }}&start_date={{ start_date }}&end_date={{ end_date }}"> < </a>
                    </li>
                {% endif %}

                <li class="page-item">
                    <a class="page-link disabled" href="#"> Page {{ table_data.number }} of {{ table_data.paginator.num_pages }}</a>
                </li>

                {% if table_data.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ table_data.next_page_number }}&search_string={{ search_string|urlencode:"" }}&start_date={{ start_date }}&end_date={{ end_date }}"> > </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ table_data.paginator.num_pages }}&search_string={{ search_string|urlencode:"" }}&start_date={{ start_date }}&end_date={{ end_date }}"> &raquo; </a>
                    </li>
                {% endif %}
            </ul>
        </nav>  
    </div>
</div>


{% include 'ved/periods.html' %}

{% endblock content %}