{% extends 'main/base.html' %}
{% load static %}
{% load cache %}

{% block title %}
ВЭД :: Конкуренты :: Индивидуальный анализ
{% endblock title %}


{% block js-before %}
<style>
  .ui-autocomplete-loading {
    background: white url("{% static 'ui-anim_basic_16x16.gif' %}") right center no-repeat;
  }
</style>
{% endblock js-before %}

{% block DatePeriod %}
    <form method="get" class="form-inline" action={% url 'ved:TrademarkReportSearch'  %}>
        {{ search_form.start_date }}
        -
        {{ search_form.end_date }}
        <button type="submit" class="btn btn-info">Изменить</button>

{% endblock DatePeriod %}

{% block content %}

<div class="container m-2">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">ВЭД</a></li>
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Поставщики</a></li>
            <li class="breadcrumb-item active" aria-current="page">Индивидульный анализ (Поиск)</li>
        </ol>
   </nav> 
</div>
<div class="row p-3">
        <div class="col">
            <div class="input-group mb-3">
                {{ search_form.search_string }} 
                <div class="input-group-append">
                    <button type="submit" class="btn btn-outline-secondary"">Поиск</button>
                </div>
            </div>    
        </div>
        <div class="col">
            
        </div>
</div>
</form>
{% if request.GET.search_string|length > 0 %}
    {% if grecords_all %}
{% if is_grouped %}
<div class="table-responsive p-3">
    <table class="table table-sm table-striped border border-secondary">
        <thead style="font-weight: bold;">
            <tr>
                <td>
                    &nbsp;
                </td>
                <td>
                    Группа ТМ
                </td>
                <td>
                    Записей в группе
                </td>
                <td>
                    На сумму, $
                </td>
                <td>
                    На сумму, €
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    &nbsp;
                </td>
                <td>
                    <a class="font-weight-bold" href="{% url 'ved:TrademarkReportShow' tm_grouped_data.tm_name|urlencode:"" %}?start_date={{ start_date }}&end_date={{ end_date }}&is_grouped=1">
                        <span class="btn btn-info" style="cursor: pointer" data-toggle="tooltip" data-placement="top" title="{% for ta in tm_aliases_list %} {{ ta }}; {% endfor %}" > 
                            {{ tm_grouped_data.tm_name }}
                        </span>
                    </a>
                </td>
                <td>
                    {{ tm_grouped_data.grp_gr_count }}
                </td>
                <td>
                    {{ tm_grouped_data.grp_gr_tcost | floatformat:2 }}
                </td>
                <td>
                    {{ tm_grouped_data.grp_gr_tcost_eur | floatformat:2 }}
                </td>
            </tr>        
        </tbody>
    </table>
{% endif %}



<div class="table-responsive p-3">
    <table class="table table-sm table-striped border border-secondary">
        <thead>
            <tr>
                <th>№</th>
                <th>                    
                    <a class="btn btn-light w-100 h-100" style="display: inline-block; white-space: nowrap;" href={% url 'ved:TrademarkReportSearch' %}?start_date={{ start_date }}&end_date={{ end_date }}&sort_field=trademark__name&sort_order={{ order.sort_order }}&search_string={{ request.GET.search_string }}>
                    {% if order.sort_field  ==  "trademark__name" %}
                        {% if order.sort_order == 'asc' %}
                            &#8673;
                        {% elif order.sort_order == 'desc' %}
                            &#8675;
                        {% endif %}
                     {% else %}
                        &#8645;
                    {% endif %}
                    Торговая марка</a></th>
                <th>                    
                    <a class="btn btn-light w-100 h-100" style="display: inline-block; white-space: nowrap;" href={% url 'ved:TrademarkReportSearch' %}?start_date={{ start_date }}&end_date={{ end_date }}&sort_field=count&sort_order={{ order.sort_order }}&search_string={{ request.GET.search_string }}>
                    {% if order.sort_field  ==  "count" %}
                        {% if order.sort_order == 'asc' %}
                            &#8673;
                        {% elif order.sort_order == 'desc' %}
                            &#8675;
                        {% endif %}
                     {% else %}
                        &#8645;
                    {% endif %}
                    Записей</a></th>
                <th>                    
                    <a class="btn btn-light w-100 h-100" style="display: inline-block; white-space: nowrap;" href={% url 'ved:TrademarkReportSearch' %}?start_date={{ start_date }}&end_date={{ end_date }}&sort_field=total_cost&sort_order={{ order.sort_order }}&search_string={{ request.GET.search_string }}>
                    {% if order.sort_field  ==  "total_cost" %}
                        {% if order.sort_order == 'asc' %}
                            &#8673;
                        {% elif order.sort_order == 'desc' %}
                            &#8675;
                        {% endif %}
                     {% else %}
                        &#8645;
                    {% endif %}
                    На сумму, $</a></th>
                <th>                    
                    <a class="btn btn-light w-100 h-100" style="display: inline-block; white-space: nowrap;" href={% url 'ved:TrademarkReportSearch' %}?start_date={{ start_date }}&end_date={{ end_date }}&sort_field=total_cost_eur&sort_order={{ order.sort_order }}&search_string={{ request.GET.search_string }}>
                    {% if order.sort_field  ==  "total_cost_eur" %}
                        {% if order.sort_order == 'asc' %}
                            &#8673;
                        {% elif order.sort_order == 'desc' %}
                            &#8675;
                        {% endif %}
                     {% else %}
                        &#8645;
                    {% endif %}
                    На сумму, €</a></th>
            </tr>
        </thead>
        <tbody>
        
        {% for gr in grecords_all %}
                    <tr>
                        <td scope="row">
                            {{ forloop.counter }}
                        </td>
                        <td>
                            <a class="btn btn-primary font-weight-bold" href="{% url 'ved:TrademarkReportShow' gr.trademark__name|urlencode:"" %}?start_date={{ start_date }}&end_date={{ end_date }}&is_grouped=0">{{ gr.trademark__name|truncatewords:8}}</a> 
                        </td>
                        <td>
                            {{ gr.count }}
                        </td>
                        <td>
                            {{ gr.total_cost }}
                        </td>
                        <td>
                            {{ gr.total_cost_eur|floatformat:2 }}
                        </td>
                    </tr>
        {% endfor %}
            </tbody>
        </table>
 {% else %}
<div class='warning'>
    Извините, по данному запросу ничего не найдено
</div>
{% endif %}


 </div>
{% endif %}

{% include 'ved/periods.html' %}



{% endblock content %}

{% block js %}
<script>
    $(function () {
        $("#tm_search").autocomplete({
            source: '{% url 'ved:autocomplete_tm' %}',
            minLength: 3
        });
    });
</script>
{% endblock js %}

