{% extends 'main/base.html' %}
{% load cache %}
{% load bold_in_quotes %}

{% block title %}
{{ trademark_name }} - ВЭД :: Поставщики :: Индивидуальный анализ :: Просмотр
{% endblock title %}

{% block content %}
{% cache 3600 TMReportShow request.get_full_path %}

        <div class="container m-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'ved:index' %}">ВЭД</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'ved:index' %}">Поставщики</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'ved:TrademarkReportSearch' %}">Индивидульный анализ (Поиск) </a></li>
                    <li class="breadcrumb-item active" aria-current="page">Индивидульный анализ ({{ trademark_name }})</li>
                </ol>
            </nav> 
        </div>
        {{ queryset_list.trademark__name }}
        <div class="table-responsive p-3">
        <table class="table table-sm border border-secondary">
        <thead class="thead-light">
            <tr>
                <th scope="col">№</th>
                <th scope="col">                    
                    <a class="btn btn-light w-100 h-100" style="display: inline-block; white-space: nowrap;" href={% url 'ved:TrademarkReportShow' trademark_name|urlencode:"" %}?start_date={{ start_date }}&end_date={{ end_date }}&sort_field=record__recipient__edrpou&sort_order={{ order.sort_order }}>
                    {% if order.sort_field  ==  "record__recipient__edrpou" %}
                        {% if order.sort_order == 'asc' %}
                            &#8673;
                        {% elif order.sort_order == 'desc' %}
                            &#8675;
                        {% endif %}
                     {% else %}
                        &#8645;
                    {% endif %}
                    ЕДРПОУ</a></th>
                <th scope="col">                    
                    <a class="btn btn-light w-100 h-100" style="display: inline-block; white-space: nowrap;" href={% url 'ved:TrademarkReportShow' trademark_name|urlencode:"" %}?start_date={{ start_date }}&end_date={{ end_date }}&sort_field=record__recipient__name&sort_order={{ order.sort_order }}>
                    {% if order.sort_field  ==  "record__recipient__name" %}
                        {% if order.sort_order == 'asc' %}
                            &#8673;
                        {% elif order.sort_order == 'desc' %}
                            &#8675;
                        {% endif %}
                     {% else %}
                        &#8645;
                    {% endif %}
                    Наименование получателя</a></th>
                <th scope="col">                    
                    <a class="btn btn-light w-100 h-100" style="display: inline-block; white-space: nowrap;" href={% url 'ved:TrademarkReportShow' trademark_name|urlencode:"" %}?start_date={{ start_date }}&end_date={{ end_date }}&sort_field=count&sort_order={{ order.sort_order }}>
                    {% if order.sort_field  ==  "count" %}
                        {% if order.sort_order == 'asc' %}
                            &#8673;
                        {% elif order.sort_order == 'desc' %}
                            &#8675;
                        {% endif %}
                     {% else %}
                        &#8645;
                    {% endif %}
                    Количество записей</a></th>
                <th scope="col">                    
                    <a class="btn btn-light w-100 h-100" style="display: inline-block; white-space: nowrap;" href={% url 'ved:TrademarkReportShow' trademark_name|urlencode:"" %}?start_date={{ start_date }}&end_date={{ end_date }}&sort_field=total_cost&sort_order={{ order.sort_order }}>
                    {% if order.sort_field  ==  "total_cost" %}
                        {% if order.sort_order == 'asc' %}
                            &#8673;
                        {% elif order.sort_order == 'desc' %}
                            &#8675;
                        {% endif %}
                     {% else %}
                        &#8645;
                    {% endif %}
                    Сумма, $</a></th>
                <th scope="col">                    
                    <a class="btn btn-light w-100 h-100" style="display: inline-block; white-space: nowrap;" href={% url 'ved:TrademarkReportShow' trademark_name|urlencode:"" %}?start_date={{ start_date }}&end_date={{ end_date }}&sort_field=total_cost_eur&sort_order={{ order.sort_order }}>
                    {% if order.sort_field  ==  "total_cost_eur" %}
                        {% if order.sort_order == 'asc' %}
                            &#8673;
                        {% elif order.sort_order == 'desc' %}
                            &#8675;
                        {% endif %}
                     {% else %}
                        &#8645;
                    {% endif %}
                    Сумма, €</a></th>
                <th scope="col">Доля, %</th>
            </tr>
        </thead>
        <tbody>
        {% for row in queryset_list %}
            <tr>
                <td scope="row" {% if row.record__recipient__edrpou in competitors %} style="background-color: #F0E68C;" {% endif %}>
                     {{ forloop.counter }}
                </td>
                <td {% if row.record__recipient__edrpou in competitors %} style="background-color: #F0E68C;" {% endif %}>
                   <a class="btn btn-primary font-weight-bold" href="{% url 'ved:TrademarkReportRaw' trademark_name|urlencode:"" row.record__recipient__edrpou %}?start_date={{ start_date }}&end_date={{ end_date }}"> {{ row.record__recipient__edrpou| cut:' ' }}</a>
                </td>
                <td {% if row.record__recipient__edrpou in competitors %} style="background-color: #F0E68C;" {% endif %}>
                    {% autoescape off %}
                    {{ row.record__recipient__name|bold_in_quotes }}
                    {% endautoescape %}
                </td>
                <td {% if row.record__recipient__edrpou in competitors %} style="background-color: #F0E68C;" {% endif %}>
                    {{ row.count }} 
                </td>
                <td {% if row.record__recipient__edrpou in competitors %} style="background-color: #F0E68C;" {% endif %}>
                    {{ row.total_cost }} 
                </td>
                <td {% if row.record__recipient__edrpou in competitors %} style="background-color: #F0E68C;" {% endif %}>
                    {{ row.total_cost_eur|floatformat:2 }} 
                </td>
                <td {% if row.record__recipient__edrpou in competitors %} style="background-color: #F0E68C;" {% endif %}>
                    <div class="progress" style="height: 20px;"">
                        <div class="progress-bar  bg-info" role="progressbar" style="width: {{ row.percent|floatformat:"0" }}%" aria-valuenow="{{ row.percent|floatformat:"1" }}" aria-valuemin="0" aria-valuemax="100"><span class = "ml-3" style="color:black;position:absolute;">{{ row.percent|floatformat:"1" }}%</span></div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
   </div>
{% include 'ved/periods.html' %}
{% endcache %}
{% endblock %}