{% extends 'main/base.html' %}
{% load bold_in_quotes %}
{% load cache %}

{% block title %}
ВЭД :: Товарные категории
{% endblock title %}

{% block js-before %}

{% endblock js-before %}

{% block period_button %}
<a class="btn btn-light" target=_blank href="https://customs-invecta.com.ua/ukt-ved/"><u>Коды УКТВЭД Украины 2020: поиск и расшифровка кода УКТЗЕД</u></a>
{% endblock period_button %}

{% block content %}
{% cache 3 TnvedGroupsCatalog TnvedGroup.query %}

<div class="container">


    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link bg-secondary text-light active" data-toggle="tab" href="#tab_1">Товарные категории</a>
      </li>
    </ul>

	<div class="tab-content">
      <div class="tab-pane fade show active" id="tab_1">
	  	<div class="table-responsive-lg">
			<table class="table table-hover table-secondary table-bordered table-striped">
			  <thead>
			    <tr class="table-secondary">
			      <th scope="col">№</th>
			      <th scope="col">Категория</th>
			      <th scope="col">Список кодов</th>
			    </tr>
			  </thead>
			  <tbody><tr>
                    {% for row in TnvedGroup %}
				      <th scope="row">{{ forloop.counter }}</th>
				      <td>{{ row.gname }} </td>
				      <td>
					  {% for code in row.codes %}
					  <h5><span class="badge badge-light"> {{ code }} </span></h5>
					  {% endfor %}
					  </td>
				      <td>{{ row.description|linebreaks }}</td>
				    </tr>
                    {% endfor %}
              </tbody>
			</table>
	  	</div>
	  </div>
		
	</div>
</div>
{% endcache %}
{% endblock content %}

